.*/
!.gitignore

**/__pycache__/
*.py[cod]
*$py.class

dist/
build/
*.egg-info/

*.log
.tmp/

.DS_Store
Thumbs.db

1.relative_efficiency/old_rawdata/sphere*/
1.relative_efficiency/old_rawdata/euclidean*/
1.relative_efficiency/old_rawdata/hyperbolic*/
1.relative_efficiency/old_rawdata/
1.relative_efficiency/sphere/
1.relative_efficiency/euclidean/
1.relative_efficiency/hyperbolic/

3.smeary_circle/result_data_base/